NODE_ENV=development
PORT=3000
GRPC_PORT=50051
LOG_LEVEL=debug
MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=clean-arch
REDIS_HOST=localhost
REDIS_PORT=6379

# Sample Client (optional - for REST API communication with other services)
# SAMPLE_CLIENT_URL=http://other-service:3001
